// Navbar
.nav {
  display: flex;
  gap: 1em;
  margin: 0 1em;
  
  &__link {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: $primary;
  }
}

.nav__link:hover {
    transition: 0.3s ease;
    color: #dbdbdb86;
    text-decoration: none;
  }
