// Imports
@import "../partials/_colors";
@import "../partials/_variables";
@import "../partials/_typography";
@import "../partials/_global";

// Navbar
.navbar {
  display: flex;
  justify-content: right;
  gap: 16px;
  margin: 20px 20px;
}

.navlink {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: $primary;
}

.navlink:hover {
  transition: 0.3s ease;
  color: #b8b7b7;
}

.navlink:visited {
  text-decoration: none;
}

// Hero
.hero {
  height: 75vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 85px;
    height: 100px;
    color: $primary;
  }

  h2 {
    font-size: 60px;
    color: $secondary;
  }

  p {
    font-size: 18px;
    color: $secondary;
    margin: 16px 10px 16px 10px;
  }

  button {
    @include button;
  }
}

// Feature

.feature {
  text-align: center;
}

.feature-wrapper {
  display: grid;
  grid-template-rows: 2fr 0.5fr;
  padding: 10px;
}

.feature-img {
  @include tile-img($secondary);
}

.feature-info {
  @include tile-info($primary);
}

h3,
p {
  color: $secondary;
  margin: 14px 0;
}

.feature-footer {
  margin: 14px 0;
}

.feature-skill-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  background-color: $back-shadow;
  color: $primary;
  padding: 10px 10px;
  margin: 10px 10px 10px 0px;
}

.feature-skills {
  display: flex;
  align-items: center;
}

.feature-links-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;

  a {
    text-decoration: none;
    color: $secondary;
  }
}

// Tile

.tile-wrapper {

  .tile {
    height: 20vh;
  }
}