@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.long-shadow {
  text-shadow: 0px 0px #004647, 1px 1px #004647, 2px 2px #004647, 3px 3px #004647, 4px 4px #004647, 5px 5px #004647, 6px 6px #004647, 7px 7px #004647, 8px 8px #004647, 9px 9px #004647, 10px 10px #004647, 11px 11px #004647, 12px 12px #004647, 13px 13px #004647, 14px 14px #004647, 15px 15px #004647, 16px 16px #004647, 17px 17px #004647, 18px 18px #004647, 19px 19px #004647, 20px 20px #004647, 21px 21px #004647, 22px 22px #004647, 23px 23px #004647, 24px 24px #004647, 25px 25px #004647, 26px 26px #004647, 27px 27px #004647, 28px 28px #004647, 29px 29px #004647, 30px 30px #004647, 31px 31px #004647, 32px 32px #004647, 33px 33px #004647, 34px 34px #004647, 35px 35px #004647, 36px 36px #004647, 37px 37px #004647, 38px 38px #004647, 39px 39px #004647, 40px 40px #004647, 41px 41px #004647, 42px 42px #004647, 43px 43px #004647, 44px 44px #004647, 45px 45px #004647, 46px 46px #004647, 47px 47px #004647, 48px 48px #004647, 49px 49px #004647, 50px 50px #004647, 51px 51px #004647, 52px 52px #004647, 53px 53px #004647, 54px 54px #004647, 55px 55px #004647, 56px 56px #004647, 57px 57px #004647, 58px 58px #004647, 59px 59px #004647, 60px 60px #004647, 61px 61px #004647, 62px 62px #004647, 63px 63px #004647, 64px 64px #004647, 65px 65px #004647, 66px 66px #004647, 67px 67px #004647, 68px 68px #004647, 69px 69px #004647, 70px 70px #004647, 71px 71px #004647, 72px 72px #004647, 73px 73px #004647, 74px 74px #004647, 75px 75px #004647, 76px 76px #004647, 77px 77px #004647, 78px 78px #004647, 79px 79px #004647, 80px 80px #004647, 81px 81px #004647, 82px 82px #004647, 83px 83px #004647, 84px 84px #004647, 85px 85px #004647, 86px 86px #004647, 87px 87px #004647, 88px 88px #004647, 89px 89px #004647, 90px 90px #004647, 91px 91px #004647, 92px 92px #004647, 93px 93px #004647, 94px 94px #004647, 95px 95px #004647, 96px 96px #004647, 97px 97px #004647, 98px 98px #004647, 99px 99px #004647, 100px 100px #004647, 101px 101px #004647, 102px 102px #004647, 103px 103px #004647, 104px 104px #004647, 105px 105px #004647, 106px 106px #004647, 107px 107px #004647, 108px 108px #004647, 109px 109px #004647, 110px 110px #004647, 111px 111px #004647, 112px 112px #004647, 113px 113px #004647, 114px 114px #004647, 115px 115px #004647, 116px 116px #004647, 117px 117px #004647, 118px 118px #004647, 119px 119px #004647, 120px 120px #004647, 121px 121px #004647, 122px 122px #004647, 123px 123px #004647, 124px 124px #004647, 125px 125px #004647, 126px 126px #004647, 127px 127px #004647, 128px 128px #004647, 129px 129px #004647, 130px 130px #004647, 131px 131px #004647, 132px 132px #004647, 133px 133px #004647, 134px 134px #004647, 135px 135px #004647, 136px 136px #004647, 137px 137px #004647, 138px 138px #004647, 139px 139px #004647, 140px 140px #004647, 141px 141px #004647, 142px 142px #004647, 143px 143px #004647, 144px 144px #004647, 145px 145px #004647, 146px 146px #004647, 147px 147px #004647, 148px 148px #004647, 149px 149px #004647, 150px 150px #004647, 151px 151px #004647, 152px 152px #004647, 153px 153px #004647, 154px 154px #004647, 155px 155px #004647, 156px 156px #004647, 157px 157px #004647, 158px 158px #004647, 159px 159px #004647, 160px 160px #004647, 161px 161px #004647, 162px 162px #004647, 163px 163px #004647, 164px 164px #004647, 165px 165px #004647, 166px 166px #004647, 167px 167px #004647, 168px 168px #004647, 169px 169px #004647, 170px 170px #004647, 171px 171px #004647, 172px 172px #004647, 173px 173px #004647, 174px 174px #004647, 175px 175px #004647, 176px 176px #004647, 177px 177px #004647, 178px 178px #004647, 179px 179px #004647, 180px 180px #004647, 181px 181px #004647, 182px 182px #004647, 183px 183px #004647, 184px 184px #004647, 185px 185px #004647, 186px 186px #004647, 187px 187px #004647, 188px 188px #004647, 189px 189px #004647, 190px 190px #004647, 191px 191px #004647, 192px 192px #004647, 193px 193px #004647, 194px 194px #004647, 195px 195px #004647, 196px 196px #004647, 197px 197px #004647, 198px 198px #004647, 199px 199px #004647, 200px 200px #004647;
  background: #006466;
  color: #dbdbdb;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #006466;
  width: 96%;
  margin: 2em auto;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #071013;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.header {
  border-bottom: 8px solid #071013;
  display: inline-block;
  border-radius: 0.4em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #dbdbdb;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 768px) {
  body {
    width: 92%;
  }
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  button,
  .hero {
    font-size: large;
  }
  button h1,
  .hero h1 {
    height: 1.2em;
  }
  .tile-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
  }
  .feature {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 4fr 1fr;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "image image image" ". info .";
    margin: 0vw 10vw;
  }
  .feature-img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: image;
  }
  .feature-info {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: info;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .feature-skill-box {
    font-size: 0.8em;
  }
  .footer-container {
    max-width: 34vw;
  }
  .footer-img {
    max-width: 40vw;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  margin: 0 1em;
}

.nav__link {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #dbdbdb;
}

.nav__link:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #dbdbdb86;
  text-decoration: none;
}

.portfolio-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8vh;
}

.hero {
  height: 75vh;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 4em;
  height: 10vh;
  width: 100%;
  color: #dbdbdb;
}

.hero h2 {
  font-size: 3em;
  color: #071013;
}

.hero p {
  font-size: 1.25em;
  color: #071013;
  margin: 0.5em 0em 0.5em 0em;
}

.hero button {
  color: #071013;
  background-color: #dbdbdb;
  border: 0.2em solid #071013;
  border-radius: 0.2em;
  font-size: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.5em;
  margin-top: 0.75em;
}

.feature {
  display: -ms-grid;
  display: grid;
  margin-bottom: 5vh;
}

.tile-img,
.feature-img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#071013), to(#07101333));
  background-image: linear-gradient(180deg, #071013, #07101333);
  -webkit-box-shadow: -0.5em 0.5em 1em #46565e;
          box-shadow: -0.5em 0.5em 1em #46565e;
  border-radius: 0.2em;
  min-height: 50vh;
  text-align: left;
}

/*.image {
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  width: 100%;
  height: 100%;
} */
.feature-info {
  background-color: #dbdbdb;
  -webkit-box-shadow: 0em 1em 1em #46565e;
          box-shadow: 0em 1em 1em #46565e;
  border-radius: 1px;
  padding: 1em 1em;
  text-align: left;
}

#feature-header {
  font-size: 2em;
  margin-bottom: 1em;
}

.feature-txt {
  color: #071013;
  margin: 0.5em 0;
}

.feature-footer {
  margin: 0.5em 0;
}

.feature-skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-skill-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1em;
  background-color: #46565e;
  color: #dbdbdb;
  padding: 0.5em 0.5em;
  margin: 0.5em 0.5em 0.5em 0;
}

.feature-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-links-container .feature-link {
  text-decoration: none;
  color: #071013;
}

.tile-grid {
  display: -ms-grid;
  display: grid;
  gap: 2vh;
}

.tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4em;
}

.footer-container {
  border-radius: 0.5em;
  gap: 1em;
  color: #dbdbdb;
  background-color: #071013;
  width: 64vw;
  padding: 1em;
  font-size: 1.2em;
  font-style: italic;
}

/*.footer-img {
    width: 70vw;
    height: auto;
    border-radius: 1em;
  } */
.footer-about {
  color: #dbdbdb;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5em;
  width: 100%;
  height: 10vh;
  background-color: #071013;
  color: #dbdbdb;
  font-size: smaller;
}
/*# sourceMappingURL=main.css.map */