// Imports
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "../partials/_colors";
@import "../partials/_variables";
@import "../partials/_global";

// Navbar
.navbar {
  display: flex;
  justify-content: right;
  gap: 1em;
  margin: 0 1em;
}

.navlink {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: $primary;
}

.navlink:hover {
  transition: 0.3s ease;
  color: #b8b7b7;
}

.navlink:visited {
  text-decoration: none;
}

// Hero
.hero {
  height: 75vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 4em;
    height: 10vh;
    width: 100%;
    color: $primary;
  }

  h2 {
    font-size: 3em;
    color: $secondary;
  }

  p {
    font-size: 1.25em;
    color: $secondary;
    margin: 16px 10px 16px 10px;
  }

  button {
    @include button;
  }
}

// Portfolio Header

.portfolio-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

// Feature

.feature {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 10vh;
}

.feature-img {
  @include tile-img($secondary);
}

.feature-info {
  @include tile-info($primary);

  h3,
  p {
    color: $secondary;
    margin: 0.5em 0;
  }
}

.feature-footer {
  margin: 0.5em 0;
}

.feature-skills-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.feature-skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1em;
  background-color: $back-shadow;
  color: $primary;
  padding: 0.5em 0.5em;
  margin: 0.5em 0.5em 0.5em 0em;
}

.feature-links-container {
  display: flex;
  gap: 6px;
  align-items: center;

  .feature-link {
    text-decoration: none;
    color: $secondary;
  }
}

// Tile

.tile-grid {
  display: grid;
  gap: 2vh;
}

.tile {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
// For Desktop

button,
.hero {
  font-size: large;

  h1 {
    height: 1.2em;
  }
}

#feature-desktop-header {
  margin-bottom: 2em;
  font-size: 2em;
}

  
.tile-grid {
  display: grid;
  font-size: large;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
}


.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
  font-size: larger;
}

.feature-skill-box {
  font-size: 0.8em;
}

}


